.header__container-switch{
    /* background-color: tomato; */
    padding: 0 3rem;
    margin-top: 3rem;
    text-align: right;

}


.header__h1 {

    color: rgba(255, 255, 255, 0.9);

    font-size: 3.2rem;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    /* margin-bottom: 2rem; */

}


/* BELOW SWITCH TOGGLE  CALCULATOR THEME*/

.switch-theme{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.switch-theme input {

    opacity: 0;
    width: 0;
    height: 0;

}


.slider{

    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-transition: .4s;
    transition: .4s;
}


.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    
    background-color: rgba(56, 56, 56, 0.6);
}

/* input:focus+.slider {
    /* box-shadow: 0 0 1px #2196F3; 
} */

input:checked+.slider:before {

    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}