body{

    /* height: 100vh; */


}


h1 {
    color: rgb(255, 255, 255);

    font-size: 3.2rem;
    text-align: center;
    padding: 1rem;
    margin-top: 4rem;
    font-weight: 500;
    letter-spacing: 2px;
    /* margin-bottom: 2rem; */

}


main{


    /* top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); */
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.calculator {

    /* background-color: rgb(71, 71, 71); */
    min-width: 88vw;
    /* max-width: 90%; */
    /* padding: 1rem; */



    

}

.calculator__output {


    background-color: rgb(43, 43, 43);
    height: 120px;
    padding: 0 .9rem;
    /* padding: 0; */
    
    padding-bottom: 0;

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    
    box-sizing: border-box;

    word-wrap: break-word;
    word-break: break-all;

}


.calculator__output__previus-operand{

    font-size: 1.7rem;
    margin: 0;
    
}


.calculator__output__current-operand{

    font-size: 3.2rem;
    margin: 0;
    padding: 0;


}

.container__buttons{

    display: grid;

    /* height: 60vh; */

    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 22vw);
    grid-template-rows: minmax(80px, auto) repeat(5, 70px);
    /* grid-template-rows: 1fr 1fr 1fr; */

}

.container__buttons > button{


    background-color: rgba(255, 255, 255, .75);
    font-size: 2.7rem;
    cursor: pointer;
    border: 1px solid white;

    
}

button:hover{
    background-color: white;
}

.span-two {

    grid-column: span 2;
}
