body{
    height: 100vh;
}


main{
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);



}
.calculator {

    /* background-color: rgb(71, 71, 71); */
    margin-top: 30vw;
    min-width: 88vw;
    /* max-width: 90%; */
    /* padding: 1rem; */

}

.calculator__output {


    background-color: rgb(43, 43, 43);
    height: 25vw;
    padding: 1rem 1.5rem;
    
    padding-bottom: 0;

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    
    box-sizing: border-box;

}


.calculator__output__previus-operand{

    font-size: 2.2rem;
}


.calculator__output__current-operand{

    font-size: 3.8rem;
    overflow: hidden;

}



.container__buttons{

    display: grid;

    /* height: 60vh; */

    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 22vw);
    grid-template-rows: minmax(80px, auto) repeat(5, 70px);
    /* grid-template-rows: 1fr 1fr 1fr; */

}

.container__buttons > button{


    background-color: rgba(255, 255, 255, .75);
    /* width: 78px; */
    /* height: 75px; */
    font-size: 2.7rem;
    cursor: pointer;
    /* margin: 3px; */
    border: 1px solid white;

    
}

button:hover{
    background-color: white;
}

.span-two {

    grid-column: span 2;
}
