@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html{
    
    font-size: 62.5%;

    --white-800: rgb(255, 255, 255);
    
    --black-1000:  rgb(0, 0, 0);
    box-sizing: border-box;
    --black-600: rgb(53, 53, 53);

}

body{
    
    font-family: 'Roboto', Tahoma, Helvetica, Verdana;
    box-sizing: border-box;
    position: relative;
    letter-spacing: 1.5px;
    font-weight: normal;

    background: linear-gradient(to right, #0486c7, #01cf57);
    color: white;

}


